<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">File Server</a>
    <div *ngIf="loggedIn()">
    <div class="btn btn-light rounded-pill my-2 my-sm-0 ml-1 plus-new">
      <span><i class="fa fa-plus mr-2"></i>New</span>
    </div>

    <button type="button" class="btn btn-circle mr-auto ml-3">
      <i class="fa fa-search"></i>
    </button>

    </div>

    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="loggedIn()" class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [ngClass]="{'border-right': isCollapsed === true}">
          <button type="button" class="btn btn-circle">
            <i class="fa fa-ellipsis-v"></i>
          </button>
        </li>
        <li class="nav-item ml-3">
          <button type="button" class="btn btn-circle">
            <i class="fa fa-refresh"></i>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-circle">
            <i class="fa fa-cog"></i>
          </button>
        </li>
        <li class="nav-item">
          <div class="btn-group ml-auto" dropdown>
            <button id="user" dropdownToggle type="button" class="btn btn-circle"
                    (click)="isUserCollapsed=!isUserCollapsed" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="dropdown-animated"><i class="fa fa-user"></i>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="user">
              <li role="menuitem" (click)="logOut()"><a class="dropdown-item" href="#">Log Out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" required
             name="username" [(ngModel)]="userTemplate.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" required name="password"
             [(ngModel)]="userTemplate.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
