<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <img src="assets/images/ag_ogo.png" class="rounded-2 img-thumbnail mh-100">
  <a class="navbar-brand ml-4" href="#">File Server Explorer</a>
  <button class="btn btn-outline-success rounded-pill my-2 my-sm-0 ml-1 mr-auto" type="submit"><i
    class="fa fa-plus"></i> New
  </button>

  <a href="" class="mr-5"><i class="fa fa-refresh"></i></a>

  <img src="assets/images/user_default.jpg" class="rounded-circle float-right img-thumbnail mh-100">
</nav>
