<accordion [isAnimated]="true">


  <accordion-group class="pt-2" [isOpen]="isFirstOpen">
    <span accordion-heading (click)="toggleFolder()">
      <i class='fa text-info mr-2' [ngClass]="{'fa-folder-open-o': rootIsOpen,'fa-folder-o': !rootIsOpen}"></i>
      Root
    </span>


    <accordion [isAnimated]="true">

      <accordion-group *ngFor="let directory of directories; let i = index" [isOpen]="i===0 ? isFirstOpen : false">

        <span accordion-heading>
          <i class='fa text-info mr-2 fa-folder-open-o'></i> {{directory.folder}}
        </span>

        <accordion-group *ngFor="let subFolder of directory.subFolders" [isDisabled]="true">
          <span accordion-heading>
            <i class='fa text-info mr-2 fa-folder-open-o'></i> {{subFolder}}
          </span>
        </accordion-group>

      </accordion-group>


    </accordion>


  </accordion-group>


</accordion>
