accordion-group {
  ::ng-deep {
    .panel-body.card-block.card-body {
      padding-right: 0;
    }

    .panel-heading.card-header {
      padding-right: 0;
    }

    .panel, .panel-group .panel-heading + .panel-collapse > .panel-body {
      border: none;
    }
  }
}
